/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	/* Reference name */
	font-family: 'Albert_Sans';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf'), url('/fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf');
}
						